.whitelist-section {
    background: linear-gradient(
        103.3deg,
        rgba(0, 0, 0, 0.5) -26.79%,
        rgba(172, 43, 249, 0.315) 49.09%,
        rgba(0, 0, 0, 0.5) 118.9%
    );
    backdrop-filter: blur(5.01069px);
    // border: 0.5px solid #ffffffaa;

    background-size: 200%;
    padding-top: 50px;
    padding-bottom: 50px;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 1rem;
        }

        @media (max-width: 520px) {
            flex-direction: column;
            gap: 2.5rem;
        }

        h3 {
            display: flex;
            color: white;

            font-family: "Integral CF";
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 151%;

            text-transform: uppercase;

            max-width: auto;

            @media (max-width: 768px) {
                font-size: 24px;
            }

            @media (max-width: 480px) {
                font-size: 16px;
                text-align: center;
                margin: 0;
                flex-direction: column;
            }
        }

        a {
            color: #ffffff;

            font-family: "Integral CF";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 151%;

            @media (max-width: 480px) {
                font-size: 8px;
                text-align: center;
            }
        }
    }
}
