* {
    box-sizing: border-box;
    // outline: 1px solid red;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    background: black;
}

.site-content-container {
    // max-width: auto;

    margin-left: auto;
    margin-right: auto;

    padding: 50px 100px 50px 100px;
    @media (max-width: 480px) {
        padding: 10px 10px 10px 10px;
    }
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Integral CF";
    src: url("/fonts/IntegralCF-Regular.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Integral CF";
    src: url("/fonts/IntegralCF-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Integral CF";
    src: url("/fonts/IntegralCF-DemiBold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Integral CF";
    src: url("/fonts/IntegralCF-ExtraBold.woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Integral CF";
    src: url("/fonts/IntegralCF-Heavy.woff2");
    font-weight: 900;
}

@font-face {
    font-family: "Monument Extended";
    src: url("/fonts/MonumentExtended-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Monument Extended";
    src: url("/fonts/MonumentExtended-Ultrabold.otf");
    font-weight: 800;
}
