.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;

    .company-logo {
        height: 54px;

        @media (max-width: 625px) {
            height: 1.8rem;
        }
    }

    .header-action {
        @media (max-width: 625px) {
            display: none;
        }
    }
}
