.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .company-logo {
        height: 75px;
        margin-top: -30px;
        margin-left: -70px;
        @media (max-width: 625px) {
            height: 2.5rem;
            margin-left: 0px;
            margin-top: 0;
        }
    }

    .header-action {
        @media (max-width: 625px) {
            display: none;
        }
    }
}
