.socials {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    gap: 1rem;

    img {
        height: 2rem;
    }

    &.large-icons {
        font-size: 3rem;

        img {
            height: 3rem;
        }

        @media (max-width: 768px) {
            gap: 0.6rem;
            font-size: 2rem;

            img {
                height: 2rem;
            }
        }

        @media (max-width: 480px) {
            font-size: 1.6rem;

            img {
                height: 1.6rem;
            }
        }
    }

    &.small-icons {
        @media (max-width: 480px) {
            font-size: 1.2rem;

            img {
                height: 1.2rem;
            }
        }
    }

    .social-link {
        color: white;
    }
}
