.sponsor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        gap: 0.4rem;
    }

    &.mobile-sponsor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .sponsor-title {
        color: white;

        font-family: "Integral CF";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;

        @media (max-width: 480px) {
            font-size: 13px;
        }
    }

    .sponsor-icon {
        max-width: 100%;

        @media (max-width: 512px) {
            height: 24px;
        }

        @media (max-width: 480px) {
            height: 18px;
        }
    }
}
