.tools-container {
    margin-bottom: 4rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../../assets/tools/tools-background.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

    @media (max-width: 768px) {
        background-size: 150;
    }

    .tools-heading {
        color: white;
        font-family: "Monument Extended", sans-serif;
        font-weight: 800;
        font-size: 3rem;

        @media (max-width: 1024px) {
            font-size: 2.6rem;
        }

        @media (max-width: 480px) {
            gap: 1.5rem;
            margin-bottom: 0.5rem;
            font-size: 2rem;
            text-align: center;
        }
    }

    .split {
        display: flex;
        justify-content: space-between;
        gap: 6rem;

        @media (max-width: 968px) {
            gap: 2rem;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }

        @media (max-width: 480px) {
            gap: 1rem;
        }

        .selectors {
            flex: 2;

            .selector {
                color: white;
                font-family: "Monument Extended", sans-serif;
                font-size: 1.9rem;
                padding: 3.6rem 2.4rem;

                background: linear-gradient(
                    to right,
                    #4c166c -26.79%,
                    rgba(0, 0, 0, 0) 49.09%,
                    #4c166c 118.9%
                );
                background-size: 140%;

                margin: 1rem 0;

                border-top-right-radius: 1.6rem;
                border-bottom-right-radius: 1.6rem;

                transition: all 0.3s ease-in;

                width: 90%;
                &.selected {
                    background: #390a56;
                    width: 100%;
                    font-weight: 800;
                }

                @media (max-width: 1024px) {
                    font-size: 1.8rem;
                    padding: 2.8rem 2rem;
                }

                @media (max-width: 968px) {
                    font-size: 1.4rem;
                    padding: 1.5rem 1rem;
                }

                @media (max-width: 480px) {
                    font-size: 1.2rem;
                    padding: 1rem;
                    margin: 0.2rem;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .content {
            flex: 3;

            .list {
                font-family: "Integral CF", sans-serif;
                font-size: 1.25rem;
                color: white;

                line-height: 1.8em;

                margin-bottom: 5rem;

                @media (max-width: 968px) {
                    font-size: 1.1rem;
                }

                @media (max-width: 480px) {
                    font-size: 0.8rem;
                }
            }

            .action {
                @media (max-width: 768px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
