.discover-container {
    background: url("../../assets/discover/discover-background.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    margin-top: 8rem;
    padding: 1rem;
    width: 100%;
}

.discover-sub-heading {
    display: block;

    color: #ac2bf9;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 139.5%;
    text-align: center;
    text-transform: capitalize;

    @media (max-width: 768px) {
        font-size: 40px;
    }
}

.discover-heading {
    color: #ffffff;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 76%;
    text-align: center;
    text-transform: uppercase;

    max-width: 20ch;
    margin: 0 auto;

    @media (max-width: 768px) {
        font-size: 60px;
    }

    @media (max-width: 500px) {
        font-size: 40px;
    }
}

.discover-graphic-container {
    display: flex;
    justify-content: center;

    position: relative;
    top: -12rem;

    @media (max-width: 800px) {
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .discover-graphic {
        max-width: 100%;
        display: block;

        position: relative;
        z-index: -1;
    }

    .sponsor-container {
        position: absolute;
        // bottom: 5rem;
        bottom: 10%;

        @media (max-width: 800px) {
            position: initial;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
