.discover-container {
    background: url("../../assets/discover/discover-background.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    margin-top: 8rem;
    padding: 1rem;
    width: 100%;

    @media (max-width: 1367px) {
        margin-top: 4rem;
    }

    @media (max-width: 800px) {
        padding-bottom: 10rem;
    }

    @media (max-width: 512px) {
        padding-bottom: 6rem;
    }
}

.discover-sub-heading {
    display: block;

    color: #ac2bf9;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 139.5%;
    text-align: center;
    text-transform: capitalize;

    @media (max-width: 768px) {
        font-size: 40px;
    }

    @media (max-width: 480px) {
        font-size: 26px;
    }

    position: relative;
    z-index: 2;
}

.discover-heading {
    color: #ffffff;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 76%;
    text-align: center;
    text-transform: uppercase;

    max-width: 20ch;
    margin: 0 auto;

    @media (max-width: 1367px) {
        font-size: 64px;
    }

    @media (max-width: 768px) {
        font-size: 60px;
    }

    @media (max-width: 500px) {
        font-size: 40px;
    }

    position: relative;
    z-index: 2;
}

.discover-graphic-container {
    display: flex;
    justify-content: center;

    position: relative;
    // top: -9rem;
    top: -6rem;

    max-width: 80vh;
    margin: 0 auto;

    @media (max-width: 800px) {
        top: 0;
        // display: flex;
        // flex-direction: column;
        // gap: 2rem;
    }

    .discover-graphic {
        max-width: 100%;
        display: block;

        position: relative;
        // z-index: -1;
    }

    .sponsor-container {
        position: absolute;
        // bottom: 5rem;
        bottom: 8%;

        @media (max-width: 512px) {
            bottom: 7%;

            // position: initial;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // margin: 0 auto;
        }
    }
}
