.hero-container {
    min-height: 100vh;
    background: linear-gradient(
            90.28deg,
            #000000 0.25%,
            rgba(0, 0, 0, 0.76) 23.54%,
            rgba(0, 0, 0, 0) 63.96%
        ),
        url("../../assets/hero/hero-background.png") no-repeat center;
    background-size: contain;

    @media (max-width: 480px) {
        background: linear-gradient(
                180deg,
                #000000 13.02%,
                rgba(0, 0, 0, 0) 43.23%,
                rgba(0, 0, 0, 0.62) 67.71%,
                #000000 99.99%,
                #000000 100%
            ),
            url("../../assets/hero/hero-background-mobile.png") no-repeat center;
        background-size: cover;

        // background-position-x: 78%;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    @media (max-width: 480px) {
        min-height: calc(100vh - 12rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // gap: 20px;
    }
}

.hero-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-bottom {
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

.hero-heading {
    color: #ffffff;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 800;
    font-size: 120.144px;
    line-height: 78.5%;

    margin: 0;
    margin-top: 18rem;

    @media (max-width: 1367px) {
        margin-top: 6rem;
        font-size: 100px;
    }

    @media (max-width: 540px) {
        font-size: 100px;

        margin-top: 8rem;
    }

    @media (max-width: 480px) {
        margin-top: 2rem;

        // font-size: 88px;
        font-size: 64px;
        text-align: center;
    }

    @media (max-width: 330px) {
        font-size: 48px;
    }
}

.hero-sub-heading {
    color: #ac2bf9;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 43px;
    text-transform: capitalize;

    margin: 0;

    @media (max-width: 1367px) {
        font-size: 26px;
    }

    @media (max-width: 540px) {
        font-size: 26px;
        line-height: 29px;
    }

    @media (max-width: 480px) {
        font-size: 16px;
        line-height: 20px;
        // font-size: 22px;
        // line-height: 24px;

        text-align: center;
    }

    @media (max-width: 330px) {
        font-size: 12px;
    }
}

.sponsor-row {
    max-width: fit-content;

    margin-top: 2rem;

    @media (max-width: 480px) {
        margin: 0 auto;
        margin-top: 0.4rem;
    }
}

.hero-actions {
    display: flex;
    align-items: center;

    margin-top: 4rem;
    gap: 20px;

    @media (max-width: 480px) {
        margin-top: 0;
    }

    @media (max-width: 410px) {
        // justify-content: center;
    }
}

.hero-socials {
    max-width: fit-content;

    margin-top: 2rem;

    @media (max-width: 480px) {
        margin-top: 0;
    }

    @media (max-width: 410px) {
        // margin: 0 auto;
    }
}

.wallet-address {
    color: #ac2bf9;

    display: block;
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    text-transform: capitalize;
    text-decoration: none;

    // margin-top: 12rem;
    margin-top: 8rem;

    @media (max-width: 1367px) {
        margin-top: 4rem;
    }

    @media (max-width: 768px) {
        margin-top: 7rem;

        font-size: 2.4vw;
        // font-size: 16px;
    }

    @media (max-width: 480px) {
        margin-top: 0;

        // font-size: 12px;
        color: white;
    }
}
