.empowered-parallax-container {
    width: 100%;

    position: relative;
}

.empowered-background {
    height: 100vh;
    width: 100%;

    background-size: cover;
    background-position: center;

    position: sticky;
    top: 0;

    filter: brightness(0.5);
    // opacity: 15%;
}

.empowered-showcase {
    position: sticky;
    top: -100px;
    width: 100%;

    filter: brightness(0.7);

    @media (max-width: 480px) {
        top: 200px;
        position: absolute;
    }
}

.empowered-item {
    height: 100vh;
    width: 100%;

    position: sticky;
    top: 0;

    @media (max-width: 480px) {
        position: absolute;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    .empowered-text {
        color: white;

        font-family: "Monument Extended";
        font-style: normal;
        font-weight: 400;
        font-size: 4rem;
        line-height: 95%;

        text-align: center;
        text-transform: uppercase;

        @media (max-width: 1080px) {
            font-size: 2.6rem;
        }

        @media (max-width: 600px) {
            font-size: 2rem;
        }

        @media (max-width: 400px) {
            font-size: 1.8rem;
        }

        &-mini {
            color: #ac2bf9;
            font-size: 2rem;

            @media (max-width: 1080px) {
                font-size: 1.8rem;
            }

            @media (max-width: 600px) {
                font-size: 1.2rem;
            }

            @media (max-width: 400px) {
                font-size: 1rem;
            }
        }
    }
}
