.benefits-container {
    margin-top: 7rem;

    background: url("../../assets/discover/discover-background.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    padding: 1;
    padding-bottom: 16rem;

    @media (max-width: 1367px) {
        padding-bottom: 10rem;
    }

    @media (max-width: 768px) {
        padding-bottom: 8rem;
    }

    @media (max-width: 480px) {
        margin-top: 4rem;
    }
}

.benefits-heading {
    color: #ac2bf9;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    // line-height: 139.5%;
    text-align: center;
    text-transform: capitalize;

    margin: 0;

    @media (max-width: 1367px) {
        font-size: 30px;
        line-height: 0;
    }

    @media (max-width: 480px) {
        font-size: 20px;
    }
}

.benefits-sub-heading {
    color: #ffffff;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 83%;
    text-align: center;
    text-transform: uppercase;

    margin: 0;

    @media (max-width: 1367px) {
        font-size: 34px;
        max-width: 26ch !important;
    }

    @media (max-width: 768px) {
        font-size: 40px;
    }

    @media (max-width: 400px) {
        font-size: 26px;
    }
}

// .benefits-video {
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;

//     iframe {
//         border: none;
//     }
// }

.benefits-video {
    height: 50vh;
    background: gray;
}

.benefits-gallery {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;

    width: 600px;

    @media (max-width: 768px) {
        width: 100%;
    }

    @media (max-width: 768px) {
        gap: 0.4rem;
    }

    @media (max-width: 580px) {
        flex-direction: column;
    }
}

.benefits-showcase-row {
    width: 20%;

    @media (max-width: 580px) {
        width: 100%;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.benefits-showcase-image {
    width: 50%;

    @media (max-width: 580px) {
        display: none;
    }

    max-width: 100%;
}

.benefits-showcase-item {
    max-width: 100%;

    &.mobile-hidden-item {
        @media (max-width: 580px) {
            display: none;
        }
    }
}

.benefits-info {
    color: #ffffff;

    font-family: "Integral CF";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 139.5%;
    text-align: center;
    text-transform: uppercase;

    max-width: 60ch !important;

    @media (max-width: 1367px) {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
    }
}

.benefits-mobile-hidden {
    @media (max-width: 580px) {
        display: none;
    }
}
