.benefits-container {
    margin-top: 7rem;

    background: url("../../assets/discover/discover-background.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    padding: 1;
    padding-bottom: 16rem;

    @media (max-width: 768px) {
        padding-bottom: 8rem;
    }

    @media (max-width: 480px) {
        margin-top: 4rem;
    }
}

.benefits-heading {
    color: #ac2bf9;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 139.5%;
    text-align: center;
    text-transform: capitalize;

    margin: 0;

    @media (max-width: 1000px) {
        font-size: 50px;
    }

    @media (max-width: 400px) {
        font-size: 20px;
    }
}

.benefits-sub-heading {
    color: #ffffff;

    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 83%;
    text-align: center;
    text-transform: uppercase;

    margin: 0;

    @media (max-width: 1000px) {
        font-size: 64px;
    }

    @media (max-width: 768px) {
        font-size: 40px;
    }

    @media (max-width: 400px) {
        font-size: 26px;
    }
}

.benefits-gallery {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;

    @media (max-width: 768px) {
        gap: 0.4rem;
    }

    @media (max-width: 580px) {
        flex-direction: column;
    }
}

.benefits-showcase-row {
    width: 20%;

    @media (max-width: 580px) {
        width: 100%;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.benefits-showcase-image {
    width: 50%;

    @media (max-width: 580px) {
        display: none;
    }

    max-width: 100%;
}

.benefits-showcase-item {
    max-width: 100%;

    &.mobile-hidden-item {
        @media (max-width: 580px) {
            display: none;
        }
    }
}

.benefits-info {
    color: #ffffff;

    font-family: "Integral CF";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 139.5%;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 20px;
    }

    @media (max-width: 480px) {
        font-size: 14px;
    }
}

.benefits-mobile-hidden {
    @media (max-width: 580px) {
        display: none;
    }
}
